<footer class="col-xs-12 pd0">	
	<div class="footer_container">
		<div class="col-xs-12 pd0">
			<div class="foot_menu">
				<ul>
					<li><a href="#" title="이용방법">이용방법</a></li>
					<li><a href="#" title="자주 묻는 질문">자주 묻는 질문</a></li>
					<li><a href="#" title="이용약관">이용약관</a></li>
					<li><a href="#" title="개인정보 취급방침">개인정보 취급방침</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 pd0">
			<div class="info">
				용감한 복숭아 Bravepeach | 대표 : 오연주. Jules Oh <br />
				대표번호 : +82) 10-5133-1564 | 일반 문의 : bravepeach.trip@gmail.com
			</div>
		</div>
	</div>
</footer>