<div class="sub_head" style="height: 140px;">
</div>
<div class="col-xs-12 pd0">
	<div class="brave_container">
		<div class="col-xs-12 pd0 ">
			<div class="col-xs-6 pd0 ">
				<h1>여행</h1>
				<h4>여행'로마/피렌체/베니스'의 가이드 지원 리스트</h4>
			</div>
			{{!-- <div class="col-xs-6 pd0 text-right">
				<a href="/write_trip.html" title="write_trip">
					<div class="btn btn-default" style="margin:15px auto; height: 50px; line-height: 35px; width:250px; vertical-align: middle;">
						추가하기
					</div>
				</a>
			</div> --}}
		</div>
		<div class="col-xs-12 pd0 trip_tab_area" style="margin-top:10px; visibility: hidden;">
			<div class="col-xs-4" style="padding:0 2px;">
				<div class="trip_tab active">
					<div class="text">가이드 모집중</div>
				</div>
			</div>
			<div class="col-xs-4" style="padding:0 2px;">
				<div class="trip_tab">
					<div class="text">임시저장중</div>
				</div>
			</div>
			<div class="col-xs-4" style="padding:0 2px;">
				<div class="trip_tab">
					<div class="text">지난 여행</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 trip_list_area" style="border:0;">
			<div class="col-xs-12 pd0 trip_list_object">
				<div class="thumbnail_img"></div>
				<div class="description">
					<div class="col-xs-12">
						<div class="col-xs-12 pd0">
							<div class="chk_icons">
								<div class="chked_icon active"></div>
								<div class="icon_text">항공</div>
								<div class="chked_icon active"></div>
								<div class="icon_text">숙박</div>
								<div class="chked_icon"></div>
								<div class="icon_text">일정</div>
								<div class="chked_icon"></div>
								<div class="icon_text">가이드</div>
							</div>
						</div>
						<div class="col-xs-12 pd0">
							<h1>2016/12/23 - 2016/12/28</h1>
							<h1>로마 / 피렌체 / 베니스</h1>
						</div>
						<div class="col-xs-12 pd0 count_price_area">
							<h3> 성인 4 아동 2 | 총 예상 경비 <span class="price">800만원</span></h3>
						</div>
					</div>
				</div>
				<div class="trip_chk_area">
					{{!-- <div class="close_btn">x</div> --}}
					<div class="text">
						가이드 10명 지원! <br />
						리스트 보기
					</div>
				</div>
			</div>
			{{#guide_support_list_data}}
			<!-- list -->
			<div class="col-xs-12 pd0 guide_support_object">
				<div class="guide_thumbnail">
					<div class="license_area">
						<div class="text">자격증 소지</div>
					</div>
					<div class="name_area">
						<div class="country_flag"></div>
						<div class="name">조진웅</div>
					</div>
					<div class="thumbnail_area">
						<div class="thumbnail_img"></div>
					</div>
				</div>
				<div class="description">
					<div class="col-xs-12 pd0">
						<div class="col-xs-12 description_top_area">
							<div class="info">
								<div class="rating_icons">
									<div class="rating_icon active"></div>
									<div class="rating_icon active"></div>
									<div class="rating_icon"></div>
									<div class="rating_icon"></div>
								</div>
								<div class="guide_count">
									가이드 <span>40</span>건&nbsp;|&nbsp; 
								</div>
								<div class="review_count">
									후기 <span>23</span>개
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<h4>>이코노미 석 / 폴란드 항공</h4>
							<h4>>액티비티 / 역사설명</h4>
							<h4>>식사제공 / 자동차소유</h4>
							<h4>>유쾌한 /지적인</h4>
						</div>
						<div class="col-xs-12 count_price_area">
							<h3> 제안 총액 <span class="price">800만원</span></h3>
						</div>
						<div class="like active"></div>
					</div>
				</div>
			</div>
			<!-- list_end -->
			{{/guide_support_list_data}}
		</div>
	</div>
</div>