<div class="head_banner_bg">
	<div class="head_banner_bg_blind"></div>
	<div class="head_container">
		<div class="head_text">
			<h1>용감한 복숭아</h1>
			<h4>역경매를 활용한 여행 준비 단계별<br/>
				맞춤형 가이드 매칭 서비스
			</h4>
		</div>
		<div class="col-xs-12 pd0">
			<div class="head_signup_frame">
				<div class="head_signup_area">
					<a href="/login/signup_form" title="">
						<div class="signup_btn btn_splash_pink">
							<div class="text">
								가이드로 시작하기
							</div>
						</div>
					</a>
					<a href="/login/signup_form" title="">
						<div class="signup_btn btn_splash_pink">
							<div class="text">
								여행자로 시작하기
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 pd0">
	<div class="brave_container">
		<div class="main_signup_area">
			<div class="btn_signup_facebook">

			</div>
		</div>
	</div>
</div>