<nav>
    <img class="nav-menubar" src="assets/image/icon/menu_bar.png" alt="메뉴바">

    <img class="nav-bravepeach-logo" src="assets/image/icon/logo_bravepeach.png" alt="용감한 로고">

        <div class="nav-guide-search-wrapper">

            <img class="nav-guide-search-icon" src="assets/image/icon/Search%20Icon.png" alt="돋보기 아이콘">

            <input class="nav-guide-search" type="text" placeholder="원하는 지역의 가이드를 검색해 보세요!">
        </div>

        <ul class="nav-list">

            <li><a><img src="assets/image/images/jihyo.jpg"></a></li>

            <li><a>도움말</a></li>

            <li><a>메세지</a></li>

            <li><a>여행</a></li>

            <li><a>가이드 찜 리스트</a></li>

            <li><a>가이드 하기</a></li>

        </ul>

    <img class="nav-guide-search-dropdown" src="assets/image/icon/Search%20Icon.png" alt="검색 아이콘">
    
    <div class="side_menu_wrapper">
            <img class="menu-profile-pic" src="../assets/image/images/jihyo.jpg">
            <span class="menu-profile-name">오연주 ( Jules Oh )</span>
            <span class="menu-email">bravepeach.trip@gmail.com</span>
            
            <ul class="menu-list">
                <li>마이페이지</li>
                <hr>
                <li>가이드 찜 리스트</li>
                <hr>
                <li>여행</li>
                <hr>
                <li>메세지</li>
                <hr>
                <li>가이드하기</li>
                <hr>
                <li>도움말</li>
                <hr>
            </ul>
    </div>
    
    <div class="search_side_menu_wrapper">
        <h1>가이드 찾기</h1>
        <h2>원하는 지역의 가이드를 검색해보세요!</h2>

        위치
        <input type="text">
        날짜
        <input type="text">
        인원
        <input type="text">
        
        <button>가이드 찾기</button>
    </div>

    
</nav>

<script>

</script>