<div class="head_login_banner_bg">
	<div class="head_login_banner_bg_blind"></div>
	<div class="head_container">
		<div class="head_text">
			<h1>용감한 복숭아</h1>
			<h4>역경매를 활용한 여행 준비 단계별<br/>
				맞춤형 가이드 매칭 서비스
			</h4>
		</div>
	</div>
</div>
<div class="col-xs-12 pd0">
	<div class="brave_container">
		<div class="main_signup_area">
			<div class="btn_signup">
				<div class="icon_area">
					<div class="facebook_icon"></div>
				</div>
				<div class="text">Facebook으로 가입하기</div>
			</div>
			<div class="btn_signup">
				<div class="icon_area">
					<div class="naver_icon"></div>
				</div>
				<div class="text">Naver로 가입하기</div>
			</div>
			<div class="btn_signup">
				<div class="icon_area">
					<div class="kakao_icon"></div>
				</div>
				<div class="text">Kakao으로 가입하기</div>
			</div>
			<div class="btn_signup">
				<div class="icon_area">
					<div class="brave_icon"></div>
				</div>
				<div class="text">BravePeach로 가입하기</div>
			</div>
			<div class="or_area">
				<div class="or_hr"></div>
			</div>
			<div class="col-xs-12 pd0">
				<div class="btn btn-success col-xs-12" style="margin:30px 0 15px 0; height: 50px; line-height: 35px;    vertical-align: middle;">로그인</div>
			</div>
		</div>
	</div>
</div>