<div class="head_login_banner_bg">
	{{!-- <div class="head_login_banner_bg_blind"></div> --}}
	<div class="head_container">
		<div class="head_text">
			<h1>용감한 복숭아</h1>
			<h4 style="line-height: 37px;">용감한 여행자 피치 님<br />
				Bravepeach의 가입을 축하드립니다!<br />
			</h4>
		</div>
	</div>
</div>
<div class="col-xs-12 pd0">
	<div class="brave_container">
		<div class="col-xs-12 pd0" style="margin-top:30px;">
			<div class="col-xs-12 pd0 text-center" style="font-size: 20px;">
				가이드를 찾기 위한 여행지 등록을 하시겠습니까?
			</div>
			<div class="col-xs-12 pd0 text-center" style="margin-top:10px;">
				<a href="/write_trip.html" title="write_trip">
					<div class="btn btn-primary" style="margin:15px auto; height: 50px;
					line-height: 35px; width:250px; 
					vertical-align: middle;">여행지 등록하기</div>
				</a>
			</div>
			<div class="col-xs-12 pd0 text-center">
				<div class="btn btn-default" style="margin:0 auto; height: 50px;
				line-height: 35px; width:250px; 
				vertical-align: middle;">바로 가이드 찾기</div>
			</div>
		</div>
	</div>
</div>