<div class="sub_head" style="height: 140px;">
</div>
<div class="col-xs-12 pd0">
	<div class="brave_container">
		<div class="col-xs-12 pd0 ">
			<div class="col-xs-6 pd0 ">
				<h1>여행</h1>
				<h4>용감한 복숭아 피치님의 여행</h4>
			</div>
			<div class="col-xs-6 pd0 text-right">
				<div class="btn btn-default" style="margin:15px auto; height: 50px; line-height: 35px; width:250px; vertical-align: middle;">
					추가하기
				</div>
			</div>
		</div>
		<div class="col-xs-12 pd0 trip_tab_area" style="margin-top:10px;">
			<div class="col-xs-4" style="padding:0 2px;">
				<div class="trip_tab active">
					<div class="text">가이드 모집중</div>
				</div>
			</div>
			<div class="col-xs-4" style="padding:0 2px;">
				<div class="trip_tab">
					<div class="text">임시저장중</div>
				</div>
			</div>
			<div class="col-xs-4" style="padding:0 2px;">
				<div class="trip_tab">
					<div class="text">지난 여행</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 trip_list_area">
		{{#trip_list_data}}
			<!-- list -->
			<div class="col-xs-12 pd0 trip_list_object">
				<div class="thumbnail_img"></div>
				<div class="description">
					<div class="col-xs-12">
						<div class="col-xs-12 pd0">
							<div class="chk_icons">
								<div class="chked_icon active"></div>
								<div class="icon_text">항공</div>
								<div class="chked_icon active"></div>
								<div class="icon_text">숙박</div>
								<div class="chked_icon"></div>
								<div class="icon_text">일정</div>
								<div class="chked_icon"></div>
								<div class="icon_text">가이드</div>
							</div>
						</div>
						<div class="col-xs-12 pd0">
							<h1>2016/12/23 - 2016/12/28</h1>
							<h1>로마 / 피렌체 / 베니스</h1>
						</div>
						<div class="col-xs-12 pd0 count_price_area">
							<h3> 성인 4 아동 2 | 총 예상 경비 <span class="price">800만원</span></h3>
						</div>
					</div>
				</div>
				<div class="trip_chk_area">
					<div class="close_btn">x</div>
					<div class="text">
						가이드 10명 지원! <br />
						리스트 보기
					</div>
				</div>
			</div>
			<!-- list_end -->
			{{/trip_list_data}}
		</div>
	</div>
</div>