<div class="head_login_banner_bg">
	<div class="head_login_banner_bg_blind"></div>
	<div class="head_container">
		<div class="head_text">
			<h1>용감한 복숭아</h1>
			<h4>역경매를 활용한 여행 준비 단계별<br/>
				맞춤형 가이드 매칭 서비스
			</h4>
		</div>
	</div>
</div>
<div class="col-xs-12 pd0">
	<div class="brave_container">
		<div class="col-xs-12">
			<h4>*가이드의 도움이 필요한 부분을 모두 클릭해주세요.</h4>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-4 text-center">
				<div class="col-xs-12 pd0">
					<img src="/assets/image/icon1.png" alt="icon1">
				</div>
				<div class="col-xs-12 pd0 text-center">
					항공권
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<div class="col-xs-12 pd0">
					<img src="/assets/image/icon2.png" alt="icon2">
				</div>
				<div class="col-xs-12 pd0 text-center">
					숙소
				</div>
			</div>
			<div class="col-xs-4 text-center">
				<div class="col-xs-12 pd0">
					<img src="/assets/image/icon1.png" alt="icon1">
				</div>
				<div class="col-xs-12 pd0 text-center">
					가이드
				</div>
			</div>
		</div>
		<div class="col-xs-12" style="margin-top: 50px;">
			{{!-- 탭 1 --}}
			<div class="col-xs-12 pd0" style="margin-top:5px; margin-bottom: 5px;">
				<div class="col-xs-12" style="border:1px solid #ccc; background: #eee; height: 50px; border-radius: 10px;">
					<div class="col-xs-12" style="line-height: 50px; vertical-align: middle;">
						항공권 선택
					</div>
				</div>
				<div class="col-xs-12" style="border:1px solid #e85450; background: #fff; border-radius: 10px; padding-top:20px; padding-bottom: 20px;">
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-1">1.</div>
						<div class="col-xs-11">
							<label class="checkbox-inline">
								<input type="checkbox" value="option1">직항
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" value="option2">경유 1회
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" value="option3">경유 2회
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" value="option3">상관없음
							</label>
						</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-1">2.</div>
						<div class="col-xs-11">
							<label class="checkbox-inline">
								<input type="checkbox" value="option1">이코노미 석
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" value="option2">비즈니스 석
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" value="option3">퍼스트 석
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" value="option3">상관없음
							</label>
						</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-1" style="height: 40px; padding-top:7px;">3.</div>
						<div class="col-xs-11">
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option1">국내항공
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option2">해외항공
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option3">상관없음
							</label>
							<label class="checkbox-inline">
								<div style="float: left; height: 40px; padding-top:7px;">
									<input type="checkbox" value="option3">
								</div>
								<input type="text" class="form-control" placeholder="선호항공사를 적어주세요." style="width:200px;">
							</label>
						</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<textarea class="form-control" rows="3" placeholder="추가적으로 부탁하고 싶은 점을 적어 주세요."></textarea>
					</div>
				</div>
			</div>
			{{!-- 탭 2 --}}
			<div class="col-xs-12 pd0" style="margin-top:5px; margin-bottom: 5px;">
				<div class="col-xs-12" style="border:1px solid #ccc; background: #eee; height: 50px; border-radius: 10px;">
					<div class="col-xs-12" style="line-height: 50px; vertical-align: middle;">
						숙소 선택
					</div>
				</div>
				<div class="col-xs-12" style="border:1px solid #e85450; background: #fff; border-radius: 10px; padding-top:20px; padding-bottom: 20px;">
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-1" style="height: 40px; padding-top:7px;">1.</div>
						<div class="col-xs-11">
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option1">공항근처
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option2">시내
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option3">여행지근처
							</label>
							<label class="checkbox-inline">
								<div style="float: left; height: 40px; padding-top:7px;">
									<input type="checkbox" value="option3">
								</div>
								<input type="text" class="form-control" placeholder="기타" style="width:200px;">
							</label>
						</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-1" style="height: 40px; padding-top:7px;">2.</div>
						<div class="col-xs-11">
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option1">호텔
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option2">한인 민박
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option3">현지인 민박
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option3">리조트
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option3">가이드 집
							</label>
							<label class="checkbox-inline">
								<div style="float: left; height: 40px; padding-top:7px;">
									<input type="checkbox" value="option3">
								</div>
								<input type="text" class="form-control" placeholder="기타">
							</label>
						</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<textarea class="form-control" rows="3" placeholder="추가적으로 부탁하고 싶은 점을 적어 주세요. ex)트윈베드보다는 더블베드가 좋아요"></textarea>
					</div>
				</div>
			</div>
			{{!-- 탭 3 --}}
			<div class="col-xs-12 pd0" style="margin-top:5px; margin-bottom: 5px;">
				<div class="col-xs-12" style="border:1px solid #ccc; background: #eee; height: 50px; border-radius: 10px;">
					<div class="col-xs-12" style="line-height: 50px; vertical-align: middle;">
						가이드 선택
					</div>
				</div>
				<div class="col-xs-12" style="border:1px solid #e85450; background: #fff; border-radius: 10px; padding-top:20px; padding-bottom: 20px;">
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-12" style="height: 40px; padding-top:7px;">1. 가이드 동행기간은</div>
						<div class="col-xs-12">
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option1">전체
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option2">몇 일만
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option3">1일 가이드
							</label>
						</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<div style="float:left; height: 40px; padding-top:7px;">2. 미리 짜 놓은 일정이 있나요?</div>
						<div style="float:left; ">
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option1">네
							</label>
							<label class="checkbox-inline" style="height: 40px; padding-top:7px;">
								<input type="checkbox" value="option2">아니요
							</label>
						</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<textarea class="form-control" rows="3" placeholder="상세히 적을수록 좋은 가이드가 지원해 주실거에요!"></textarea>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-12" style="height: 40px; padding-top:7px;">3. 아침 ___시 부터 일정을 시작해 주세요.</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-12" style="height: 40px; padding-top:7px;">4. 밤 ___시에는 일정을 마쳐 주세요.</div>
					</div>
					<div class="col-xs-12" style="height:100px;">
						<div class="col-xs-12" style="height: 40px; padding-top:7px;">5. 꼭 가고 싶은 여행지는 #타임스퀘어 #센트럴파크 #소호 #브루클린 브릿지 입니다.</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 pd0" style="margin-top:5px; margin-bottom: 5px;">
				<div style="float:right;">
					<h1>예상 총액 ￦ ________ 만원 이내</h1>
				</div>
			</div>
			<div class="col-xs-12 pd0 text-center" style="margin-top:30px;">
				<a href="#" title="write_trip">
					<div class="btn btn-primary" style="margin:15px auto; height: 50px;
					line-height: 35px; width:250px; 
					vertical-align: middle;">임시 저장</div>
				</a>
				<a href="#" title="write_trip">
					<div class="btn btn-primary" style="margin:15px auto; height: 50px;
					line-height: 35px; width:250px; 
					vertical-align: middle;">가이드 모집</div>
				</a>
			</div>
		</div>
	</div>
</div>